// margin设置文件 定义全局的样式拆分

// 导入常态颜色样式
@import './colors.scss';
@import './font.size.scss';

// 默认填充宽度
.w-width{
    width: 100%;
}

// 默认填充高度
.w-height{
    height: 100%;
}

// 设置flex布局
.w-flex{
    display: flex;
}

// ⚪
.w-circle{
    border-radius: 50%;
}

// 设置小手
.mouse{
    cursor: pointer;
}

.check{
    transition: all .2;
}

@each $item in (left,right) {
    .w-fo-#{$item}{
        float: $item;
    }
}
// text-align 属性
@each $item in (left,center,right) {
    .w-align-#{$item}{
        text-align: $item;
    }
}

// 设置背景颜色
@each $index,$item in $colors {
    .w-bg-#{$index}{
        background: $item !important;
    }
}

// 设置字体颜色
@each $index,$item in $colors {
    .w-co-#{$index}{
        color: $item;
    }
}

// 外边距
// padding 通用设置
@each $mar in (left,right,top,bottom) {
    @each $index,$item in $length_size {
        .w-p-#{$mar}-#{$index}{
            padding-#{$mar}: $item;
        }
    }
}
@each $index,$item in $length_size {
    .w-p-#{$index}{
        padding: $item;
    }
}

// padding 通用设置
@each $mar in (left,right,top,bottom) {
    @each $index,$item in $length_size {
        .w-m-#{$mar}-#{$index}{
            margin-#{$mar}: $item;
        }
    }
}
// 全方向边距
@each $index,$item in $length_size {
    .w-m-#{$index}{
        margin: $item;
    }
}

// 字体设置
@each $index,$item in $size {
    .w-ft-#{$index}{
        font-size: $item;
    }
}

.scroll{
   overflow-x: hidden;
   overflow-y: scroll;
   max-height: 95vh;
}