// 定义默认的字体大小
$base-font-size: 16px;
$size: (
    '0': .3125rem /* 5/16 */,
    '1': .625rem /* 10/16 */,
    '2': .75rem /* 12/16 */,
    '3': 1rem /* 16/16 */,
    '4': 1.25rem /* 20/16 */,
    '5': 1.5625rem /* 25/16 */,
    '6': 2.1875rem /* 35/16 */
);

// 边距字体

$length_size: (
    '0': .5rem,
    '1': 1rem,
    '2': 1.5rem,
    '3': 2rem,
    '4': 2.5rem,
    '5': 3rem,
    '6': 4rem
);