// 定义默认的字体大小
@import './mixins.scss';
$base-font-size: 16px;
$size: (
    '0': REM(5px) /* 5/16 */,
    '1':  REM(10px) /* 10/16 */,
    '2':  REM(12px) /* 12/16 */,
    '3':  REM(16px) /* 16/16 */,
    '4':  REM(20px) /* 20/16 */,
    '5':  REM(25px) /* 25/16 */,
    '6':  REM(40px) /* 35/16 */
);

// 边距字体

$length_size: (
    '0': REM(8px),
    '1': REM(16px),
    '2': REM(24px),
    '3': REM(32px),
    '4': REM(64px),
    '5': REM(100px),
);