$white: #FFFFFF;
$black: #000000;
$dark: #515a6e;
$try-1: #333333;
$blue-1: #00BDFF;
$mint-1: #D4F4F1;
$gray-1: #7A8CA0;
$greey-1: #00CCCC;
$blue-2: #1296db;
$danger: #F94441;
/**
* mixins 和 function 混用
*/
// flexMixins
@mixin flex($direction: initial, $justify: space-between, $align: center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

// 转换REM函数
$base-font-size: 16px;
@function REM($px) {
	@return #{$px / 16px}rem;
}

// 定位
@mixin position($position: absolute, $top: initial, $right: initial, $bottom: initial, $left: initial, $zIndex: initial) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	z-index: $zIndex;
}