/**
* mixins 和 function 混用
*/
// flexMixins
@mixin flex($direction: initial, $justify: space-between, $align: center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

// 转换REM函数
$base-font-size: 16px;
@function REM($px) {
	@return #{$px / 16px}rem;
}